/* seção about us */

.about {
  margin-right: 3.25rem;
  & p {
    margin-bottom: 3rem;
  }

  & .imgB {
    width: 380px;
    box-shadow: 0px 1.5px 10px rgba(0, 0, 0, 0.7);
  }
}

/* seção services */
.services {
  display: flex;

  & h3 {
    text-transform: uppercase;
    margin-top: 0.75rem;
  }

  & p {
    color: var(--gray);
    margin-top: 0.75rem;
    font-size: 1rem;
  }
}
.service {
  flex: 1;
  text-align: center;
  padding: 1.25rem;
  border-left: 1px solid var(--cinza);

  & img {
    width: 4rem;
    margin-bottom: 0.75rem;
  }
}

.service:last-child {
  border-right: 1px solid var(--cinza);
}

/* seção projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.projects-list {
  background-color: var(--corgray);
  border: 1px solid var(--gray);
  border-radius: 2rem;
  display: flex;
  padding: 0 2rem;
}

.projects-list ul li {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  border-left: 1px solid var(--gray);
  border-bottom: 5px solid var(--corgray);
}

.projects-list ul li:first-child {
  border-left: none;
}

.projects-list ul li:hover {
  border-bottom: 5px solid var(--gold);
}
.link {
  background-color: transparent;
  color: var(--cinza);
  display: inline-block;
  padding: 1rem;
}

/* photos */

.projects-photos {
  width: 100vw;
  max-width: 1200px;
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;

  & .photo-img {
    width: 280px;

    img {
      width: inherit;
      height: 180px;
      box-shadow: none;
    }
  }

  & .photo-img:hover .photo-info {
    display: flex;
    cursor: pointer;
  }
}
.photo-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: 180px;
  display: none;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--white);

  & p {
    color: var(--corgray);
    font-size: 1rem;
  }
}

/* seção our team */

.bg-team {
  background-image: url(../media/bg-image.png);
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .pointers {
    margin-top: 4rem;
  }
  & .body {
    flex-direction: column;
    gap: 0.75rem;
  }
}

.our-team {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}
.our-team .sliders {
  width: 1000vw;
  height: 100%;

  & .slide {
    width: 364px;
    height: 464px;
    background-color: var(--white);
    margin-right: 1.25rem;

    & .imgS {
      width: 200px;
      margin-top: 40px;
    }
  }
}

.redes-team {
  display: flex;
  gap: 5px;
  margin-bottom: 2.5rem;
}
.icons {
  padding: 0.5rem 0.75rem;
  background-color: var(--gray);
  border-radius: 100px;
  color: var(--white);
  font-size: 1.5rem;
  transition: 0.5s;
}

.icons:hover {
  background-color: var(--gold);
}
.description-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

  & h3 {
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 5px;
    font-size: 1.5rem;
  }
}
.p-team {
  color: var(--cinza);
}

/* clientes */
.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & .imgclient {
    width: 150px;
    margin: 1.25rem auto;
  }

  & .pointers {
    margin-top: 2rem;
  }
}
.imgquote {
  width: 35px;
}

& .p-client {
  width: 700px;
  margin-top: 20px;
  color: var(--gray);
}
.description-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.25rem;

  & h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 1.5rem;
  }

  & span {
    color: var(--black);
    font-weight: 600;
  }
}

/* UNIQUE */
.unique {
  background-color: var(--white);
  border-block: 1px solid var(--corgray);
  height: 150px;

  .section-empresas {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
  }
}

/* PRICE */
.price {
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
}

.month {
  color: var(--corgray);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.price-content {
  font-size: 0.75rem;
  color: var(--gray);
  font-weight: 600;
}
.cards {
  width: 1200px;
  height: 350px;

  & a {
    margin-block: 1.25rem;
    background-color: var(--black);
  }

  & a:hover {
    background-color: var(--gold);
  }
}
.card {
  width: 264px;
  height: 364px;
  display: inline-block;
  background-color: var(--white);
  border-radius: 2px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-card {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.card-list {
  display: flex;
  flex-direction: column;
}
.card-list li {
  text-align: center;
  padding: 4px;
  font-size: 0.875rem;
  position: relative;
  &::after {
    content: '_';
    height: 1px;
    position: absolute;
    margin-top: 5px;
    padding: 5px;
    left: 50%;
  }
}
/* PREMIUM*/
.bgpremium {
  width: 100%;
  background-color: var(--white);
}
.containerp {
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  & .pointers {
    margin: 2rem;
  }
  & .blink {
    margin: auto;
  }
}
.premium-container {
  border-bottom: 1px solid var(--gray);
}
.premium-content {
  height: 446px;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
}
.livro {
  margin-top: 2rem;
  width: 24vw;
  height: 45vh;
}
.description-premium {
  margin: 2rem 0 1.25rem 0;
  display: flex;
  align-items: start;

  gap: 2rem;

  & p {
    margin: 0;
    padding: 5px;
  }
}

.section-some {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.some-service {
  text-align: center;

  & strong {
    color: var(--gold);
    font-size: 2.5rem;
    font-weight: 700;
    margin: auto;
  }

  & .bar {
    width: 20px;
    height: 4px;
    background-color: #7d7d7d;
    margin: 10px auto;
    border-radius: 1px;
  }

  & h3 {
    text-transform: uppercase;
  }
  p {
    color: var(--gray);
    margin-top: 2rem;
  }
}

.share-bar {
  border-bottom: 1px solid var(--gray);
  height: 76px;
}
.share {
  width: 40vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.redes-share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 1.25rem;

  & span {
    color: var(--corgray);
    font-weight: 700;
  }
}
.bg-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--gray);
  width: 35px;
  height: 35px;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70vw;
  height: 240px;
  gap: 2rem;
}

.name-mail {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.campo {
  border-bottom: 2px solid var(--gray);
  margin-bottom: 2.5rem;

  & label {
    color: var(--gray);
    font-weight: 500;
    margin-right: 0.5rem;
  }

  & input {
    border: none;
    background-color: transparent;
    outline: none;
  }
}

/*sessao mapa*/
.bg-map {
  background-image: url(../img/mapa.png);
  background-size: cover;
  background-position: center;
  height: 430px;
}
.informations {
  background-color: var(--white);
  width: 35vw;
  height: 350px;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}
.acess {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 0.75rem;

  & p {
    color: var(--gray);
    font-size: 1rem;
  }
}
/*footer rodape*/
.section-footer {
  display: flex;
  height: 320px;
}

.footer-redes .redes-team {
  display: flex;
  gap: 5px;
  margin-bottom: 8rem;

  .icons {
    background-color: var(--cinza);
  }
  .icons:hover {
    background-color: var(--goldDark);
  }
}
.footer-text {
  width: 23vw;
  color: var(--gray);
  font-size: 1rem;
}

.footer-mail {
  width: 23vw;
  background-color: var(--cinza);
  border-radius: 4px;
}
.form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  input {
    width: 70%;
    background: none;
    border: none;
    margin-block: 1rem;
    outline: none;
    color: var(--corgray);
    font-size: 1rem;
    border-bottom: 2px solid var(--corgray);
  }
}
