@import url(/assets/css/media.css);
@import url(/assets/css/sections.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --black: #000;
  --white: #fff;
  --gold: #b28756;
  --goldDark: #9b5d17;
  --gray: #999;
  --gris: #f4f4f4;
  --cinza: #333;
  --corgray: #cbcbcb;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
a {
  color: var(--gray);
}
.header {
  background-color: var(--black);
  height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .img {
    height: 4rem;
  }

  & nav .ulHeader {
    display: flex;
    gap: 1rem;
  }
}
.hlink {
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid var(--black);
}

.hlink:hover {
  border-bottom: 5px solid var(--gold);
  color: var(--gray);
}

/* BANNER*/

.banner {
  height: 100vh;
  background-color: var(--cinza);
  background-image: url(../img/Bg_img_01.png);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

  & p {
    font-size: 1.25rem;
    font-weight: 700;
    background-color: transparent;
    padding: 0.75rem;
    margin-bottom: 1.25rem;
  }
}
.blink {
  color: var(--white);
  background-color: var(--gold);
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  margin-top: 0.75rem;
  font-weight: 600;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}
.blink:hover {
  background-color: var(--goldDark);
}
.sliders {
  width: 1000vw;
  height: 100%;
}
.slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}
.slidearea {
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  & h1 {
    font-size: 4rem;

    & span {
      color: var(--gold);
    }
  }
}

.pointers {
  width: 100vw;
  height: 1.25rem;
  margin-top: -4rem;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 0.75rem;
}
.pointer {
  width: 16px;
  height: 16px;
  border: 2px solid var(--gold);
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: var(--gold);
}

/* PADROES */

.default {
  padding-block: 4rem;
}
.title,
.description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.title {
  font-size: 2rem;
}
.description {
  font-size: 0.75rem;
  color: var(--gray);
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}
.body {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.light {
  background-color: var(--gris);

  &.title,
  .body {
    color: var(--black);
  }
}
.dark {
  background-color: var(--black);

  & .title,
  .body {
    color: var(--white);
  }
}
